.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 15px;
}

.contact > ul {
  display: flex;
  justify-content: center;
}

.Resume {
  margin-left: 150px;
  margin-right: 150px;
}

.Home {
  margin-left: 150px;
  margin-right: 150px;
}